* , *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.last-pick{
  background:rgba(205, 210, 106,0.8);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.last-drop{
  background:rgba(205, 210, 106,0.9);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .board {
    background-image: url('./images/wood4.jpg');
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 100%;
      height: 100%;
    }
    
  }

}