* , *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  
  .board {
    background-image: url('./images/wood4.jpg');
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(8, 1fr);

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      width: 100%;
      height: 100%;
    }
    
  }

}

.turnWhite:hover {
  cursor: url('./images/whitehand.png'), auto;
}

.turnBlack:hover {
  cursor: url('./images/blackhand.png'), auto;
}