.pawn.white {
    background-image: url('../public/img/wP.svg');
    background-size: cover;
}

.pawn.black {
    background-image: url('../public/img/bP.svg');
    background-size: cover;
}

.rook.white {
    background-image: url('../public/img/wR.svg');
    background-size: cover;
}

.rook.black {
    background-image: url('../public/img/bR.svg');
    background-size: cover;
}

.bishop.white {
    background-image: url('../public/img/wB.svg');
    background-size: cover;
}

.bishop.black {
    background-image: url('../public/img/bB.svg');
    background-size: cover;
}

.knight.white {
    background-image: url('../public/img/wN.svg');
    background-size: cover;
}

.knight.black {
    background-image: url('../public/img/bN.svg');
    background-size: cover;
}

.queen.white {
    background-image: url('../public/img/wQ.svg');
    background-size: cover;

}

.queen.black {
    background-image: url('../public/img/bQ.svg');
    background-size: cover;
}

.king.white {
    background-image: url('../public/img/wK.svg');
    background-size: cover;
}

.king.black {
    background-image: url('../public/img/bK.svg');
    background-size: cover;
}